.navbar{
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    align-items: center;
    margin: 0 35px;
}

.navbar img{
    height: 30px;
}

.navbar button{
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 60px;
    background-color: white;
    border: 1px solid grey;
    color: black;
    font-weight: 700;
}

.navbar button:hover{
    /* background-color: grey; */
    /* color: white; */
    opacity: 0.8;
    /* box-shadow: 1px; */
    border: 1px solid grey;
}

@media(max-width: 480px) {
    .navbar{
        padding: 15px 10px;
        margin: 0 15px;
    }

    .navbar img{
        height: 25px;
    }

    .navbar button{
        width: 120px;
        height: 25px;
        border-radius: 30px;
        background-color: white;
        padding: 5px;
       
    }
    
}